<!DOCTYPE html>
<!--
    Manage page

    Author: Yee Hou, Teoh (2471020t)
    Filename: manage.html
-->

{% extends 'base.html' %}
{% load static %}


{% block head %}
<!-- add to separate css file later -->
<style>
    .container-width {
        width: 98%
    }

    .page-text {
        padding-left: 75px;
        padding-right: 75px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (max-width: 979px) {
        .page-text {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    .bg-white {
        background-color: #fefefe;
    }

</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/editable/bootstrap-table-editable.min.js"></script>

<!-- bootstrap table export -->
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
{% endblock %}


{% block title_block %}
Manage
{% endblock %}


{% block body_block %}
<div class="mt-4 pb-5 container-fluid container-width bg-white">
    <div class="page-header row h-100 align-items-center bg-blue">
        <div class="page-text d-inline-flex text-white">
            <h1>Students</h1>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-auto d-flex mt-3">
            <form class="form-inline">
                <div class="form-row">
                    <label class="mx-2">Year: </label>
                    <div class="col-auto mr-2">
                        <select class="form-control">
                            <option selected>Year</option>
                            <option value="1">2019-2020</option>
                        </select>
                    </div>
                    <div class="col-auto mr-2">
                        <select class="form-control">
                            <option selected>Show All</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-auto d-flex mt-3">
            <form class="form-inline">
                <div class="form-row">
                    <div class="col-auto">
                        <button class="btn btn-secondary">Edit</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary">Export</button>
                    </div>
                    <div class="col-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="anonymizeCheck" value="anonymize">
                            <label class="form-check-label" for="anonymizeCheck">Anonymize</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="mcLayoutCheck" value="mcLayout">
                            <label class="form-check-label" for="mcLayoutCheck">MyCampus Layout</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr class="w-100">


    <table id="table"
           data-height="460"
           data-pagination="true"
           data-side-pagination="server"
           data-server-sort="false">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">Matric No.</th>
                <th data-field="first" data-sortable="true">First Name</th>
                <th data-field="last" data-sortable="true">Last Name</th>
                <th data-field="gpa" data-sortable="true">GPA</th>
                <th data-field="award" data-sortable="true">Award</th>
                <th data-field="notes" data-sortable="true">Notes</th>
            </tr>
        </thead>
    </table>

    <hr class="w-100">
    <div class="row">
        <!-- Pagination -->
        <div class="col-auto pagination mx-4">
            <form class="form-inline">
                <div class="form-row">
                    <!-- <div class="col-auto"> -->
                    <label>Show: </label>
                    <div class="col-auto mr-2"></div>
                        <select class="form-control">
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
            </form>
            <span class="step-links mt-1">

                <!-- if foo.has_previous -->
                    <a href="?page=1">
                        <i class="fas fa-angle-double-left"></i>
                    </a>
                    <a href="?page=#">
                        <i class="fas fa-angle-left"></i>
                    </a>
                <!-- endif -->

                <span class="current">
                    Page foo of bar.
                </span>

                <!-- if books.has_next -->
                    <a href="?page=#">
                        <i class="fas fa-angle-right"></i>
                    </a>
                    <a href="?page=#">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                <!-- endif -->
            </span>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var $table = $('#table');

    // populate an array with json for each student
    var mydata = [
        {% for model in student %}
            {
                "id": "{{ model.matricNo }}",
                "first": "{{ model.givenNames }}",
                "last": "{{ model.surname}}",
                "gpa": "{{ model.finalAward4 }}",
                "award": "{{ model.foobar }}",
                "notes": "{{ model.foo }}"
            }
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];

    $(function () {
        $('#table').bootstrapTable({
            data: mydata,
            // subtable
            onExpandRow: function (index, row, $detail) {
                var $el = $detail.html('<table></table>').find('table')
                var columns = [
                    {
                        field: "code",
                        title: "Course Code",
                        sortable: true
                    },
                    {
                        field: "alpha",
                        title: "Alphanumeric Grade",
                        sortable: true,
                        editable: true
                    },
                    {
                        field: "ttpt",
                        title: "22pt. (4 d.p.)",
                        sortable: true,
                        editable: true
                    },
                ]
                var sub_data = [
                    // placeholder
                    {
                        "code": "FooBar",
                        "alpha": "BarFoo",
                        "ttpt": "SpamEggs"
                    },
                    {
                        "code": "FooBar",
                        "alpha": "BarFoo",
                        "ttpt": "SpamEggs"
                    },
                    {
                        "code": "FooBar",
                        "alpha": "BarFoo",
                        "ttpt": "SpamEggs"
                    }
                ]
                $el.bootstrapTable({
                    columns: columns,
                    data: sub_data,
                })
            }
        });
    });

    $('#table').on('editable-save.bs.table', function(e, field, row, oldValue, $el){
        console.log(row);
        // ajax post call to update db
    });
</script>
{% endblock %}
