<!DOCTYPE html>
<!--
    Manage page

    Author: Yee Hou, Teoh (2471020t)
    Filename: manage.html
-->

{% extends 'base.html' %}
{% load static %}


{% block head %}
<!-- add to separate css file later -->
<style>
    .container-width {
        width: 98%
    }

    .page-text {
        padding-left: 75px;
        padding-right: 75px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (max-width: 979px) {
        .page-text {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    .bg-white {
        background-color: #fefefe;
    }

</style>

<!-- jump to page -->
<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.css" rel="stylesheet">

<!-- editable tables -->
<link href="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/css/bootstrap-editable.css" rel="stylesheet">
{% endblock %}


{% block title_block %}
Manage
{% endblock %}


{% block body_block %}
<div class="mt-4 pb-5 container-fluid container-width bg-white">
    <div class="page-header row h-100 align-items-center bg-blue">
        <div class="page-text d-inline-flex text-white">
            <h1>Students</h1>
        </div>
    </div>
    <!-- <div class="row justify-content-between"> -->
        <!-- <div class="col-auto d-flex mt-3"> -->
        <div id="toolbar">
            <form class="form-inline">
                <div class="form-row">
                    <label class="mx-2">Year: </label>
                    <div class="col-auto mr-2">
                        <select class="form-control">
                            <option selected>Year</option>
                            <option value="1">2019-2020</option>
                        </select>
                    </div>
                    <div class="col-auto mr-2">
                        <select class="form-control">
                            <option selected>Show All</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <!-- </div> -->
        <!-- <div class="col-auto d-flex mt-3">
            <form class="form-inline">
                <div class="form-row">
                    <div class="col-auto">
                        <button class="btn btn-secondary">Edit</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary">Export</button>
                    </div>
                    <div class="col-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="anonymizeCheck" value="anonymize">
                            <label class="form-check-label" for="anonymizeCheck">Anonymize</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="mcLayoutCheck" value="mcLayout">
                            <label class="form-check-label" for="mcLayoutCheck">MyCampus Layout</label>
                        </div>
                    </div>
                </div>
            </form>
        </div> -->
    <!-- </div> -->
    <hr class="w-100">

    <!-- pagination and sort are client side. -->
    <!-- notes:
    - adding data-search-highlight="true" breaks editable fields.
    - data-reorderable-columns="true" breaks table-->
    <table id="table"
           class="table"

           data-unique-id="id"

           data-height="650"
           data-key-events="true"

           data-pagination="true"
           data-show-jump-to="true"
           data-side-pagination="client"
           data-server-sort="false"

           data-loading-template="loadingTemplate"

           data-query-params="queryParams"
           data-response-handler="responseHandler"

           data-toolbar="#toolbar"

           data-search="true"
           data-search-highlight="true"

           data-show-refresh="true"
           data-show-toggle="true"
           data-show-fullscreen="true"
           data-show-columns="true"
           data-show-columns-toggle-all="true"
           data-show-export="true"

           data-detail-view="true">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">Matric No.</th>
                <th data-field="first" data-sortable="true">First Name</th>
                <th data-field="last" data-sortable="true">Last Name</th>
                <th data-field="gpa4" data-sortable="true">GPA (4 d.p.)</th>
                <th data-field="gpa3" data-sortable="true">GPA (3 d.p.)</th>
                <th data-field="gpa2" data-sortable="true">GPA (2 d.p.)</th>
                <th data-field="gpa1" data-sortable="true">GPA (1 d.p.)</th>
                <th data-field="award" data-sortable="true" data-editable="true">Award</th>
                <th data-field="notes" data-sortable="true" data-editable="true">Notes</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    var $table = $('#table');

    // populate an array with json for each student
    var mydata = [
        {% for model in student %}
            {
                "id": "{{ model.matricNo }}",
                "first": "{{ model.givenNames }}",
                "last": "{{ model.surname }}",
                "gpa4": "{{ model.finalAward4 }}",
                "gpa3": "{{ model.finalAward3 }}",
                "gpa2": "{{ model.finalAward2 }}",
                "gpa1": "{{ model.finalAward1 }}",
                "award": "{{ model.foobar }}",
                "notes": "{{ model.notes }}"
            }
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];

    $(function () {
        $('#table').bootstrapTable({
            sortReset: true,
            sortStable: true,
            theadClasses: "thead-light",
            visibleSearch: true,
            data: mydata,
            // subtable
            onExpandRow: function (index, row, $detail) {
                var $el = $detail.html('<table></table>').find('table')
                var columns = [
                    {
                        field: "code",
                        title: "Course Code",
                        sortable: true
                    },
                    {
                        field: "alpha",
                        title: "Alphanumeric Grade",
                        sortable: true,
                        editable: true
                    },
                    {
                        field: "ttpt",
                        title: "22pt. (4 d.p.)",
                        sortable: true
                    },
                ]
                var sub_data = [
                    // placeholder
                    {
                        "code": "FooBar",
                        "alpha": "BarFoo",
                        "ttpt": "SpamEggs"
                    },
                    {
                        "code": "FooBar",
                        "alpha": "BarFoo",
                        "ttpt": "SpamEggs"
                    },
                    {
                        "code": "FooBar",
                        "alpha": "BarFoo",
                        "ttpt": "SpamEggs"
                    }
                ]
                $el.bootstrapTable({
                    columns: columns,
                    data: sub_data,
                })
            }
        });
    });
    // $(document).ready( function() { 

    //     $.fn.editable.defaults.mode = 'inline';
    // });
    $('#table').on('editable-save.bs.table', function(e, field, row, oldValue, $el){
        console.log(e);
        console.log(field);
        console.log(row);
        console.log(oldValue);
        console.log($el);
        // ajax post call to update db
    });
</script>
<!-- keystrokes -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/key-events/bootstrap-table-key-events.min.js"></script>

<!-- jump to page -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js"></script>

<!-- editable bootstrap tables -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/editable/bootstrap-table-editable.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/js/bootstrap-editable.min.js"></script>

<!-- bootstrap table export -->
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/export/bootstrap-table-export.min.js"></script>

<!-- dependency for export -->
<!-- <script type="text/javascript" src="jquery.base64.js"></script> -->
{% endblock %}
