<!DOCTYPE html>
<!--
    Manage page

    Author: Yee Hou, Teoh (2471020t)
    Filename: manage.html
-->

{% extends 'base.html' %}
{% load static %}


{% block head %}
<!-- add to separate css file later -->
<style>
    .container-width {
        width: 98%
    }

    .page-text {
        padding-left: 75px;
        padding-right: 75px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (max-width: 979px) {
        .page-text {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    .bg-white {
        background-color: #fefefe;
    }

    .text-area {
        width: 100px;
        height: 50px;
    }

</style>

<!-- jump to page -->
<link href="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.css" rel="stylesheet">

<!-- editable tables -->
<link href="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/css/bootstrap-editable.css" rel="stylesheet">
{% endblock %}


{% block title_block %}
Manage
{% endblock %}


{% block body_block %}
<div class="mt-4 pb-5 container-fluid container-width bg-white">
    <div class="page-header row h-100 align-items-center bg-blue">
        <div class="page-text d-inline-flex text-white">
            <h1>Students</h1>
        </div>
    </div>
    <!-- <div class="row justify-content-between"> -->
        <!-- <div class="col-auto d-flex mt-3"> -->
        <div id="toolbar">
            <form class="form-inline">
                <div class="form-row">
                    <label class="mx-2">Year: </label>
                    <div class="col-auto mr-2">
                        <select class="form-control">
                            <option selected>Year</option>
                            <option value="1">2019-2020</option>
                        </select>
                    </div>
                    <div class="col-auto mr-2">
                        <select class="form-control">
                            <option selected>Show All</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <!-- </div> -->
        <!-- <div class="col-auto d-flex mt-3">
            <form class="form-inline">
                <div class="form-row">
                    <div class="col-auto">
                        <button class="btn btn-secondary">Edit</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary">Export</button>
                    </div>
                    <div class="col-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="anonymizeCheck" value="anonymize">
                            <label class="form-check-label" for="anonymizeCheck">Anonymize</label>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="mcLayoutCheck" value="mcLayout">
                            <label class="form-check-label" for="mcLayoutCheck">MyCampus Layout</label>
                        </div>
                    </div>
                </div>
            </form>
        </div> -->
    <!-- </div> -->
    <hr class="w-100">

    <!-- pagination and sort are client side. -->
    <!-- notes:
    - adding data-search-highlight="true" breaks editable fields.
    - data-reorderable-columns="true" breaks table-->
    <table id="table"
           class="table table-bordered"
           data-search-accent-neutralise="true"

           data-unique-id="id"
           data-row-style="rowStyle"

           data-height="650"
           data-key-events="true"

           data-pagination="true"
           data-show-jump-to="true"
           data-side-pagination="client"
           data-server-sort="false"

           data-loading-template="loadingTemplate"

           data-query-params="queryParams"
           data-response-handler="responseHandler"

           data-toolbar="#toolbar"

           data-search="true"
           data-search-highlight="true"

           data-show-refresh="true"
           data-show-toggle="true"
           data-show-fullscreen="true"
           data-show-columns="true"
           data-show-columns-toggle-all="true"
           data-show-export="true"

           data-detail-view="true">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true" data-width="100">Matric No.</th>
                <th data-field="first" data-sortable="true">First Name</th>
                <th data-field="last" data-sortable="true">Last Name</th>
                <th data-field="gpa4" data-sortable="true" data-visible="false">GPA (4 d.p.)</th>
                <th data-field="gpa3" data-sortable="true" data-visible="false">GPA (3 d.p.)</th>
                <th data-field="gpa2" data-sortable="true" data-visible="false">GPA (2 d.p.)</th>
                <th data-field="gpa1" data-sortable="true">GPA (1 d.p.)</th>
                <th data-field="award" data-sortable="true">Award</th>
                <th data-field="notes" data-sortable="true" data-editable="true">Notes</th>
                <th data-field="missingGrades" data-visible="false">Is Missing Grade</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    var $table = $('#table');

    var grades_dict = {"A1": 22, "A2": 21,
                       "A3": 20, "A4": 19,
                       "A5": 18, "B1": 17,
                       "B2": 16, "B3": 15,
                       "C1": 14, "C2": 13,
                       "C3": 12, "D1": 11,
                       "D2": 10, "D3": 9,
                       "E1": 8, "E2": 7,
                       "E3": 6, "F1": 5,
                       "F2": 4, "F3": 3,
                       "G1": 2, "G2": 1,
                       "H": 0, "CW": 0,
                       "CR": 0, "MV": 0
                       }

    // populate an array with json for each student
    var mydata = [
        {% for model in student %}
            {
                "id": "{{ model.matricNo }}",
                "first": "{{ model.givenNames }}",
                "last": "{{ model.surname }}",
                "gpa4": "{{ model.finalAward4 }}",
                "gpa3": "{{ model.finalAward3 }}",
                "gpa2": "{{ model.finalAward2 }}",
                "gpa1": "{{ model.finalAward1 }}",
                "award": "{{ model.foobar }}",
                "notes": "{{ model.notes }}",
                "missingGrades": "{{ model.isMissingGrades }}",
                "sub": [
                    {% with model.grade_set.all as grades %}
                        {% for grade in grades %}
                            {
                                "code": "{{ grade.courseCode }}",
                                "alpha": "{{ grade.alphanum }}",
                                "ttpt": grades_dict["{{ grade.alphanum }}"]
                            }{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endwith %}
                ]
            }
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
    ];

    // bootstrap table attributes
    $(function () {
        $('#table').bootstrapTable({
            exportTypes: ['json', 'xml', 'csv', 'txt', 'excel', 'pdf'],
            sortReset: true,
            sortStable: true,
            theadClasses: "thead-light",
            visibleSearch: true,
            data: mydata,
            exportDataType: "all",
            // subtable
            onExpandRow: function (index, row, $detail) {
                var $el = $detail.html('<table></table>').find('table')
                var columns = [
                    {
                        field: "code",
                        title: "Course Code",
                        sortable: true,
                    },
                    {
                        field: "alpha",
                        title: "Alphanumeric Grade",
                        sortable: true,
                        editable: {
                            type: 'select',
                            // mode: 'inline',
                            source: [
                                {
                                    text: "A",
                                    children: [
                                        {value: "A1", text: "A1"},
                                        {value: "A2", text: "A2"},
                                        {value: "A3", text: "A3"},
                                        {value: "A4", text: "A4"},
                                        {value: "A5", text: "A4"},
                                    ]
                                },
                                {
                                    text: "B",
                                    children: [
                                        {value: "B1", text: "B1"},
                                        {value: "B2", text: "B2"},
                                        {value: "B3", text: "B3"}
                                    ]
                                },
                                {
                                    text: "C",
                                    children: [
                                        {value: "C1", text: "C1"},
                                        {value: "C2", text: "C2"},
                                        {value: "C3", text: "C3"}
                                    ]
                                },
                                {
                                    text: "D",
                                    children: [
                                        {value: "D1", text: "D1"},
                                        {value: "D2", text: "D2"},
                                        {value: "D3", text: "D3"}
                                    ]
                                },
                                {
                                    text: "E",
                                    children: [
                                        {value: "E1", text: "E1"},
                                        {value: "E2", text: "E2"},
                                        {value: "E3", text: "E3"}
                                    ]
                                },
                                {
                                    text: "F",
                                    children: [
                                        {value: "F1", text: "F1"},
                                        {value: "F2", text: "F2"},
                                        {value: "F3", text: "F3"}
                                    ]
                                },
                                {
                                    text: "G",
                                    children: [
                                        {value: "G1", text: "G1"},
                                        {value: "G2", text: "G2"}
                                    ]
                                },
                                {
                                    text: "H",
                                    children: [
                                        {value: "H", text: "H"},
                                    ]
                                },
                                {
                                    text: "Special Codes",
                                    children: [
                                        {value: "CW", text: "CW"},
                                        {value: "CR", text: "CR"},
                                        {value: "MV", text: "MV"}
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        field: "ttpt",
                        title: "22pt. (4 d.p.)",
                        sortable: true
                    },
                ]
                $el.bootstrapTable({
                    rowStyle: 'rowStyle',
                    columns: columns,
                    data: row.sub,
                })
            }
        });
    });
    // $(document).ready( function() { 
    //     $.fn.editable.defaults.mode = 'inline';
    // });

    // to highlight rows in the future
    function rowStyle(row, index) {
        console.log(row.notes);
        if (row.notes === 'Ut enim ad minim veniam') {
            return {
                classes: 'table-success'
            }
        }
        if (row.missingGrades === "True") {
            return {
                classes: 'table-danger'
            }
        }
        if (row.ttpt === 2) {
            return {
                classes: 'table-danger'
            }
        }
        return 0
    }

    // ajax post to update database
    $('#table').on('editable-save.bs.table', function(e, field, row, oldValue, $el){
        console.log(e);
        console.log(field);
        console.log(row);
        console.log(oldValue);
        console.log($el);
        // ajax post call to update db
    });
</script>

<!-- pdf export -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js" integrity="sha512-ToRWKKOvhBSS8EtqSflysM/S7v9bB9V0X3B1+E7xo7XZBEZCPL3VX5SFIp8zxY19r7Sz0svqQVbAOx+QcLQSAQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.0.14/jspdf.plugin.autotable.js" integrity="sha512-9xVpHMGorTPbSEFD6+ex0dKDYKxvciATI70tPCHCGxTkBD3HXboXLTnnpMwgdxms9uOwocFZdUx4AFl4p0FHag==" crossorigin="anonymous"></script>

<!-- keystrokes -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/key-events/bootstrap-table-key-events.min.js"></script>

<!-- jump to page -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js"></script>

<!-- editable bootstrap tables -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/editable/bootstrap-table-editable.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Talv/x-editable@develop/dist/bootstrap4-editable/js/bootstrap-editable.min.js"></script>

<!-- bootstrap table export -->
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/export/bootstrap-table-export.min.js"></script>

<!-- dependency for export -->
<!-- <script type="text/javascript" src="jquery.base64.js"></script> -->
{% endblock %}
