<!DOCTYPE html>
<!--
    Course Grades page



    Author: Ekaterina Terzieva (2403606t) and Alana Grant
    Filename: module_marks.html
-->

{% extends 'base.html' %}
{% load static %}


{% block head %}
<!-- add to separete css file later -->
<style>
    .container-width {
        width: 98%
    }

    .page-text {
        padding-left: 75px;
        padding-right: 75px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (max-width: 979px) {
        .page-text {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }

    .bg-white {
        background-color: #fefefe;
    }

</style>
{% endblock %}


{% block title_block %}
Course grades
{% endblock %}


{% block body_block %}
<div class="mt-4 pb-5 container-fluid container-width bg-white">
    <div class="page-header row h-100 align-items-center bg-blue">
        <div class="page-text d-inline-flex text-white">
            <h1>Course Grades</h1>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-auto d-flex mt-3">
            <form class="form-inline">
                <div class="form-row">
                    <label class="mx-2">Year: </label>
                    <div class="col-auto mr-2">
                        <select class="form-control">
                            <option selected>Year</option>
                            <option value="1">2019-2020</option>
                        </select>
                    </div>
                    <div class="col-auto mr-2">
                        <select class="form-control">
                            <option selected>Show All</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-auto d-flex mt-3">
            <form class="form-inline">
                <div class="form-row">
                    <div class="col-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="anonymizeCheck" value="anonymize">
                            <label class="form-check-label" for="anonymizeCheck">Anonymize</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr class="w-100">

    <!-- Use Bootstrap table or better tables lib later -->
    <table class="table"
        id = "table"
        data-height= "700"

        data-pagination="true"
        data-side-pagination="client"
        data-server-sort="false"

        data-toolbar="#toolbar"
        data-search="true"
        data-show-refresh="true"
        data-show-toggle="true"
        data-show-fullscreen="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"

        data-show-export="true"
        >
        <thead >
          <tr>
            <th data-field = "code" data-sortable="true">Course Code</th>
            <th data-field = "id" data-sortable="true">Matric No.</th>
            <th data-field = "first" data-sortable="true">First Name</th>
            <th data-field = "last" data-sortable="true">Last Name</th>
            <th data-field = "an_grade" data-sortable="true">Alphanumeric Grade</th>
            <th data-field = "ttpt_grade" data-sortable="true">22pt Grade</th>
          </tr>
        </thead>
    </table>

    <br>
</div>
{% endblock %}


<!-- working progress,-->
{% block scripts %}
<script>
    var $table = $('#table');

    var objects = [
        {% for model in grade %}
        {
                "code": "{{ model.courseCode }}",
                "id": "{{ model.matricNo.matricNo }}",
                "first": "{{ model.matricNo.givenNames }}",
                "last": "{{ model.matricNo.surname }}",
                "an_grade": "{{ model.alphanum }}"
                //"ttpt_grade": "{{ model.matricNo.finalAward4 }}"
        }

        {% if not forloop.last %},{% endif %}
        {% endfor %}

    ];

    $(function () {
        $('#table').bootstrapTable({
            data: objects
        });
    });

</script>
{% endblock %}